.all-cards{
  display: flex;
  align-items: center;
  height: 270px;
  width: 400px;
  background: url('https://images-na.ssl-images-amazon.com/images/I/71atJIqKIcL._SL1500_.jpg');
  font-size: 1.7rem;
  background-position: 10% 10%;
  text-align: center;
  justify-content: center;
  padding: 0px 10px;
  overflow-wrap: break-word;
}

.extended-card{
  height: 400px;
  width: 600px;
  position: relative;
  z-index: 10;
  flex-direction: column;
  grid-column: span 3;
  justify-self: center;
}

li {
  list-style-type: none;
}