footer{
  font-size: 60px;
  position: fixed;
  z-index: 3;
  bottom: 20px;
  right: 20px;
  i{
    color: #fff;
    opacity: .8;
    text-shadow: 3px 3px 3px #0b9d73;
    &:hover{
      color: rgb(41, 41, 41);
    }
  }
}