$accentColor1: #0b9d73;
$accentColor2: whitesmoke;
$accentColor3: #000;

@mixin btn () {
  width: 120px;
  background: $accentColor1;
  border: none;
  padding: 7px;
  font-size: 1rem;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: -4px 4px 5px $accentColor3;
  color: $accentColor2;
  font-weight: bold;
  outline: none;
  margin: 0px 12px 27px 12px;
  &:hover{
    cursor: pointer;
    filter: brightness(120%);
  }
  i{
    margin-right: 6px;
  }
}

.header {
  font-size: 6rem;
  font-family: 'Permanent Marker', cursive;
  color: $accentColor2;
  text-shadow: 4px 4px 6px $accentColor1, -5px 5px 7px $accentColor3;
  text-align: center;
  height: 210px;
  margin: 0 auto;
  width: 100%;
  background: rgb(41, 41, 41);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.restudy-btn{
  @include btn()
}

.viewAll-btn{
  @include btn()
}

.btn-div {
  display: flex;
  margin: auto 0;
}

[tooltip]{
  position:relative;
  display:inline-block;
}

[tooltip]::before {
  content: "";
  position: absolute;
  z-index: 3;
}

[tooltip]::after {
  content: attr(tooltip);
  position: absolute;
  left:50%;
  top:100px;
  transform: translateX(-50%)   translateY(-100%);
  background: rgba(26, 39, 59, 0.7);
  text-align: center;
  color: $accentColor2;
  padding:4px 2px;
  font-size: 1rem;
  width: 160px;
  max-height: 54px;
  border-radius: 5px;
  pointer-events: none;
  padding: 10px 10px;
  z-index:5;
  opacity:0;
  border: 1px solid $accentColor1;
}

[tooltip]:hover::after,[tooltip]:hover::before {
   opacity:1;
}

@media (max-width: 550px) {
  .header{
    font-size: 4rem;
  }
}

@media (max-width: 350px) {
  .header{
    font-size: 3rem;
    width: 105%;
  }
}
