.header {
  font-size: 6rem;
  font-family: 'Permanent Marker', cursive;
  color: whitesmoke;
  text-shadow: 3px 4px 5px #000;
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}