body {
  background: rgb(48, 73, 110);
}

.question-display-grid{
  width: 100%;
  max-width: 1400px;
  padding: 60px 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 440px);
  grid-gap: 15px 15px;
  justify-content: space-around;
  grid-auto-flow: dense;
  z-index: 1;
  margin: 0 auto;
}


